/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Oct 2021, 16:34:48
    Author     : Will
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #34383c;
}

#adminMenu{
    width: 100%;
    height: 140px;
    background-color: gray;
}

#adminMenuHeader h2{
    margin-bottom: 5px;
    text-align: center;
}

.propertiesFormRow{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.propertiesFormRow input{
    margin-left: 5px;
    margin-right: 25px;
}

.propertiesFormRow label{
    display: flex;
    justify-content: center;
    align-items: center;
}

#appContainer{
    width: 100%;
    height: 80vh;
}

#resultContainer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultContainer #result{
    width: 60%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#result p{
    margin: 0;
    font-family: "Lucida Console";
    text-align: center;
}

#formContainer{
    width: 100%;
    height: 45vh;
    background-color: gray;
}

#functionContainer{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.functionButton{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: gray;
}

.functionButton p{
    margin: 0;
}