/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Oct 2021, 16:34:48
    Author     : Will
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #34383c;
}

#adminMenu{
    width: 100%;
    height: 160px;
    background-color: gray;
}

#adminMenuHeader h2{
    margin-bottom: 5px;
    text-align: center;
}

.propertiesFormRow{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.propertiesFormRow input{
    margin-left: 5px;
    margin-right: 25px;
    width: 160px;
    font-size: 15px;
}

.propertiesFormRow label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

#appContainer{
    width: 100%;
    height: 75vh;
}

#resultContainer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultContainer #result{
    width: 60%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#result p{
    margin: 0;
    font-family: "Lucida Console";
    text-align: center;
}

#formContainer{
    width: 100%;
    height: 45vh;
    background-color: gray;
}

#adminFormContainer {
    display: none;
    width: 100%;
    height: 45vh;
    background-color: gray;
}

#functionContainer{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.functionButton{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: gray;
}

.functionButton p{
    margin: 0;
}

#adminContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginForm{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
}

#loginForm label{
    margin-top: 5px;
}

#loginForm input{
    text-align: center;
    width: 60%;
}

#loginForm ::placeholder {
  text-align: center;
}

#loginForm button{
    margin-top: 9px;
    margin-bottom: 10px;
}